<%
breadcrumbs = [
	{active: false, href: root_path, text: t('menu.initial_page')},
	{active: false, href: '#', text: t('site.products')},
	{active: false, href: "#", text: @professional.get_name}
]
%>
<!-- Cabeçalho -->
<%= render "visitors/home/renders/index/header" %>

<!-- Conteúdo central -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="d-none d-md-block text-center">
					<%= render 'common_pages/breadcrumb', links: breadcrumbs %>
				</div>
			</div>
		</div>
	</div>
	<%= render "visitors/home/renders/index/filter_by_text" %>
	<div class="row">
		<div class="col-12">
			<h3><%= Product.model_name.human(count: 2) %>: <%= @professional.get_name %></h3>
		</div>
	</div>
	<%= render "visitors/home/renders/products/products", products: @products %>
</div>

<!-- Footer -->
<%= render "visitors/home/renders/footer/top_footer" %>
<%= render "visitors/home/renders/footer/middle_footer" %>
<%= render "visitors/home/renders/footer/bottom_footer" %>