<div class="col-6 p-4">
	<div class="row p-3 mb-4 mt-2 border">
		<div class="col-12 p-3 d-flex justify-content-between">
			<div>
				<div class="mt-3">
					<span><b>Nome do Vendedor 1 - #49235</b></span>
				</div>
				<div class="mt-3">
					<span>Sub-total do vendedor: <b>R$ 400,00</b></span>
					<br>
					<span>Valor do frete: <b>R$ 100,00</b></span>
					<br>
					<span>Total do vendedor: <b>R$ 500,00</b></span>
				</div>
				<div class="mt-3">
					<span>Código de rastreio: <b>AB123456789BR</b></span>
					<br>
					<span>Situação da entrega: <b>Em rota</b></span>
				</div>
			</div>
			<div class="text-center">
				<a href=""><i class="bi bi-chat fs-1"></i> <br> Fale com o cliente</a>
			</div>
		</div>
		
		<%= render "visitors/home/renders/sold_order_details/table_seller" %>

		<%= render "visitors/home/renders/purchased_order_details/rate_seller" %>
		
		<%= render "visitors/home/renders/purchased_order_details/regret_purchase" %>

	</div>
</div>
	
<div class="col-6 p-4">
	<div class="row p-3 mb-4 mt-2 border">
		<div class="col-12 p-3 d-flex justify-content-between">
			<div>
				<div class="mt-3">
					<span><b>Nome do Vendedor 1 - #49235</b></span>
				</div>
				<div class="mt-3">
					<span>Sub-total do vendedor: <b>R$ 400,00</b></span>
					<br>
					<span>Valor do frete: <b>R$ 100,00</b></span>
					<br>
					<span>Total do vendedor: <b>R$ 500,00</b></span>
				</div>
				<div class="mt-3">
					<span>Código de rastreio: <b>AB123456789BR</b></span>
					<br>
					<span>Situação da entrega: <b>Em rota</b></span>
				</div>
			</div>
			<div class="text-center">
				<a href=""><i class="bi bi-chat fs-1"></i> <br> Fale com o cliente</a>
			</div>
		</div>
		
		<%= render "visitors/home/renders/sold_order_details/table_seller" %>

		<%= render "visitors/home/renders/purchased_order_details/rate_seller" %>
		
		<%= render "visitors/home/renders/purchased_order_details/regret_purchase" %>

	</div>
</div>
	