<div class="pt-5 pt-lg-0 text-center text-lg-start">
	<div>
		<span class="<%= text_color %>"><b><%= title %></b></span>
	</div>

	<div class="mt-4 footer-01">
		<a class="text-decoration-none <%= text_color %>" href="tel:<%= phone %>" target="_blank">
			<i class="bi bi-telephone-fill"></i>
			<%= phone %>
		</a>
	</div>
	<div class="mt-2 footer-01">
		<a class="text-decoration-none <%= text_color %>" href="tel:<%= cellphone %>" target="_blank">
			<i class="bi bi-whatsapp"></i>
			<%= cellphone %>
		</a>
	</div>
	<div class="mt-2 footer-01">
		<a class="text-decoration-none <%= text_color %>" href="mailto:<%= email %>" target="_blank">
			<i class="bi bi-envelope"></i>
			<%= email %>
		</a>
	</div>
</div>