<div class="container p-0">
	<div class="row mt-3 d-flex justify-content-center m-0">
		<div class="col-11 col-lg-6">
			<%= form_tag by_text_filter_products_path(type: "products"), method: :get, class: 'form-inline my-2 my-lg-0' do %>
			<div class="input-group mb-3">
				<button type="submit" class="btn btn-link text-reset text-white input-group-text border">
					<i class="bi bi-search"></i>
				</button>
			  	<input name="product_text" type="text" class="form-control mr-sm-2" placeholder="<%= t("site.search_products") %>" aria-describedby="button-addon2" id="text_filter_value" value="<%= params[:product_text] %>">
			</div>
			<% end %>
		</div>
		<div class="col-11 col-lg-6">
			<%= form_tag by_text_filter_services_path(type: "services"), method: :get, class: 'form-inline my-2 my-lg-0' do %>
				<div class="input-group mb-3">
				  	<input name="service_text" type="text" class="form-control mr-sm-2" placeholder="<%= t("site.search_services") %>" aria-describedby="button-addon2" id="text_filter_value" value="<%= params[:service_text] %>">
					<button type="submit" class="btn btn-link text-reset text-white input-group-text border">
						<i class="bi bi-search"></i>
					</button>
				</div>
			<% end %>
		</div>
	</div>
</div>