<div class="row">
	<div class="col-8">&nbsp;</div>
	<!-- Título -->
	<div class="col-12">
		<h4 class="mt-5"><%= SystemConfiguration.human_attribute_name(:phone_contact) %>:</h4>
	</div>

	<div class="col-12 col-md-4">
		<%= f.input :professional_contact_phone, input_html: {class: 'complete-phone-ddd', type: "tel"} %>
	</div>
	<div class="col-12 col-md-4">
		<%= f.input :client_contact_phone, input_html: {class: 'complete-phone-ddd', type: "tel"} %>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-4">
		<%= f.input :professional_cellphone, input_html: {class: 'complete-phone-ddd', type: "tel"} %>
	</div>
	<div class="col-12 col-md-4">
		<%= f.input :client_cellphone, input_html: {class: 'complete-phone-ddd', type: "tel"} %>
	</div>
</div>

<div class="row mb-3">
	<div class="col-8">&nbsp;</div>

	<!-- Título -->
	<div class="col-12">
		<h4><%= SystemConfiguration.human_attribute_name(:mail_contact) %>:</h4>
	</div>

	<div class="col-12 col-md-4 mb-3">
		<%= f.input :professional_contact_mail, input_html: {type: "email"} %>
	</div>

	<div class="col-12 col-md-4 mb-3">
		<%= f.input :client_contact_mail, input_html: {type: "email"} %>
	</div>
</div>
