<!-- Barra lateral -->
<aside class="col-12 col-md-3">

	<!-- Título -->
	<h5><%= Order.human_attribute_name(:values) %></h5>
	<br>

	<small>
		<%= Order.human_attribute_name(:original_price) %>:
		<b class="text-secondary"><%= CustomHelper.to_currency(order.price) %></b>
	</small>
	<br>

	<%
		sum_discount_price_order_carts = order.get_sum_discount_price_order_carts
	%>
	<% if sum_discount_price_order_carts > 0 %>
		<small>
			<%= Order.human_attribute_name(:total_discount) %>:
			<b class="text-success"><%= CustomHelper.to_currency(order.get_sum_discount_price_order_carts) %></b>
		</small>
		<br>
	<% end %>

	<small>
		<%= Order.human_attribute_name(:total_freight_value) %>:
		<b class="text-danger"><%= CustomHelper.to_currency(order.get_correct_freight_value) %></b>
	</small>
	<br>

	<small>
		<%= Order.human_attribute_name(:total_value) %>:
		<b class="text-secondary"><%= CustomHelper.to_currency(order.get_total_price) %></b>
	</small>

	<!-- Título -->
	<h5 class="mt-5"><%= Order.human_attribute_name(:close_order) %></h5>

	<%
		dados_comprador = Order.human_attribute_name(:user_data).upcase
		dados_endereco = Order.human_attribute_name(:address_data).upcase
		pagamento = Order.human_attribute_name(:payment_data).upcase
		links = {
		dados_comprador  => pay_order_path(id: order.id, show_data_user: true),
		dados_endereco => pay_order_path(id: order.id, show_address_data: true),
		pagamento => pay_order_path(id: order.id)
		} 
	%>

	<%
		show_arrow = false
		already_show = false 
	%>

	<ul class="list-group">
		<% links.each do |label, href| %>
			<%
				if (!order.user.is_valid_to_buy? || !params[:show_data_user].nil?) && label == dados_comprador
					show_arrow = true
					already_show = true
				elsif (!order.is_address_valid? || !params[:show_address_data].nil?) && label == dados_endereco && !already_show
					show_arrow = true
					already_show = true
				elsif label == pagamento && !already_show
					show_arrow = true
				end 
			%>

			<a href="<%= href %>" class="list-group-item list-group-item text-decoration-none <%= show_arrow ? 'text-primary' : 'text-auxiliar' %>">
				<small class="<%= 'font-weight-bold' if show_arrow %>"><%= label %></small>
			</a>

			<% show_arrow = false %>
		<% end %>
	</ul>

	<br>

</aside>