<div class="col-12">
    <h4 class="mt-4"><%= Product.human_attribute_name(:dimensions) %></h4>
</div>

<div class="col-12 mb-3 col-md-2">
    <%= f.input :width %>
</div>

<div class="col-12 mb-3 col-md-2">
    <%= f.input :height %>
</div>

<div class="col-12 mb-3 col-md-2">
    <%= f.input :depth %>
</div>

<div class="col-12 mb-3 col-md-2">
    <%= f.input :weight %>
</div>